/* =========================================
   GOOGLE FONTS
========================================= */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

/* =========================================
   GLOBAL
========================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

:root{

    --primary-color:#C6A16E;

    --light-color:#F8F5EF;

    --dark-color:#0D0D0D;

    --beige-color:#ECE4D8;
}

body{

    overflow-x:hidden;

    background:#fff;

    color:#111;

    font-family:'Inter', sans-serif;
}

h1,
h2,
h3,
h4{

    font-family:'Cormorant Garamond', serif;

    font-weight:600;

    letter-spacing:1px;
}

img{
    width:100%;
    display:block;
}

.container{
    width:min(1400px, 92%);
    margin:auto;
}

/* =========================================
   NAVBAR
========================================= */

.navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:1000;

    background:rgba(15,15,15,0.12);

    border-bottom:1px solid rgba(255,255,255,0.05);

    backdrop-filter:blur(18px);

    transition:0.5s ease;

    padding:0 30px;
}

.navbar.scrolled{

    background:#baad97;

    border-bottom:1px solid rgba(255,255,255,0.06);

    box-shadow:0 15px 40px rgba(0,0,0,0.35);
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:90px;
    object-fit:contain;
}

.logo-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.logo h1,
.logo p{
    color:#fff;
}

.logo h1{
    font-size:22px;
    line-height:1;
}

.logo p{
    font-size:13px;
    opacity:0.8;
}

nav{
    display:flex;
    gap:40px;
}

nav a{

    position:relative;

    text-decoration:none;

    color:#F5F1EA;

    font-size:13px;

    font-weight:500;

    letter-spacing:3px;

    text-transform:uppercase;
}

nav a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-6px;

    width:0%;

    height:1px;

    background:var(--primary-color);

    transition:0.4s ease;
}

nav a:hover::after{
    width:100%;
}

.nav-buttons{
    display:flex;
    align-items:center;
    gap:15px;
}

.solid-btn,
.glass-btn{

    padding:14px 28px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    transition:0.4s ease;

    font-size:12px;

    letter-spacing:2px;
}

.solid-btn{

    background:var(--primary-color);

    color:#111;

    font-weight:600;
}

.solid-btn:hover{
    transform:translateY(-3px);
}

.glass-btn{

    background:rgba(255,255,255,0.04);

    color:#fff;

    border:1px solid rgba(255,255,255,0.12);

    backdrop-filter:blur(12px);
}

/* =========================================
   SCROLL LINE
========================================= */

.scroll-line{

    position:fixed;

    top:80px;
    left:0;

    width:100%;
    height:3px;

    background:rgba(255,255,255,0.08);

    z-index:999;
}

.scroll-progress{

    width:0%;

    height:100%;

    background:var(--primary-color);

    transition:width 0.1s linear;
}

/* =========================================
   HERO
========================================= */

.hero{
    height:100vh;
}

.heroSwiper{
    width:100%;
    height:100%;
}

.swiper-slide{
    position:relative;
}

.swiper-slide img{

    width:100%;
    height:100%;

    object-fit:cover;
}

.overlay{

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        to right,
        rgba(0,0,0,0.72),
        rgba(0,0,0,0.38)
    );
}

.hero-content{

    position:absolute;

    top:50%;
    left:80px;

    transform:translateY(-50%);

    z-index:10;

    max-width:850px;

    color:#fff;
}

.hero-subtitle{

    letter-spacing:6px;

    margin-bottom:25px;

    color:rgba(255,255,255,0.72);

    font-size:12px;

    text-transform:uppercase;
}

.hero-content h1{

    font-size:clamp(48px, 8vw, 95px);

    line-height:0.95;

    margin-bottom:35px;

    color:var(--light-color);

    font-weight:600;
}

.hero-content span{
    color:var(--primary-color);
}

.hero-text{

    font-size:20px;

    line-height:1.8;

    margin-bottom:40px;

    color:rgba(255,255,255,0.82);

    max-width:700px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

/* SWIPER BUTTONS */

.swiper-button-next,
.swiper-button-prev{

    width:60px !important;
    height:60px !important;

    border-radius:50%;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.12);

    backdrop-filter:blur(10px);

    color:#fff !important;
}

.swiper-button-next{
    right:40px !important;
}

.swiper-button-prev{
    left:auto !important;
    right:120px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size:18px !important;
}

/* =========================================
   STATS
========================================= */

.stats-section{

    background: var(--beige-color);

    color:#fff;

    padding:70px 40px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:40px;

    text-align:center;

    border-top:1px solid rgba(255,255,255,0.05);

    border-bottom:1px solid rgba(255,255,255,0.05);
}

.stat-box,
.stat-box-fixed,
.stat-box-fixed1{

    display:flex;

    flex-direction:column;

    justify-content:center;
}

.stat-box h2,
.stat-box-fixed h2{

    font-size:clamp(42px, 6vw, 90px);

    color:#D7B17D;

    margin-bottom:15px;

    line-height:1;

    font-weight:600;
}

.stat-box h2::after{

    content:"+";

    font-size:40px;

    margin-left:5px;

    display:inline-block;

    transform:translateY(-18px);
}

.stat-box p,
.stat-box-fixed p,
.stat-box-fixed1 p{

    letter-spacing:3px;

    color:var(--dark-color);

    font-size:13px;

    line-height:1.6;
}

.stat-box-fixed1 h3{

    font-size:clamp(42px, 6vw, 40px);

    color:#D7B17D;

    margin-bottom:15px;

    line-height:1;

    font-weight:600;

    
}

.stat-box-fixed1 h2{
    color: var(--dark-color);
}

.stat-box-fixed1 ul li{

    color:#D7B17D;

    font-size:20px;

    font-weight:600;

    letter-spacing:2px;

    
}

/* =========================================
   ABOUT
========================================= */

.about-section{

    padding:140px 80px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:80px;

    /* align-items:center; */

    background:#F7F3EC;
}

.about-right img{

    width:100%;

    height:700px;

    object-fit:cover;

    border-radius:28px;
}

.section-tag{

    letter-spacing:5px;

    color:var(--primary-color);

    margin-bottom:25px;

    font-size:13px;

    text-transform:uppercase;
}

.about-left h2{

    font-size:clamp(40px, 5vw, 65px);

    line-height:1.15;

    margin-bottom:30px;
}

.about-left p{

    line-height:1.9;

    color:#555;

    margin-bottom:20px;

    font-size:16px;
}

.learn-more{
    margin-top: 25px;
}


/* =========================================
   SERVICES SECTION
========================================= */

.services-section{

    padding:140px 80px;

    background:#0D0D0D;

    color:#fff;

    display:grid;

    grid-template-columns:0.9fr 1.1fr;

    gap:80px;
}

.services-left{

    position:sticky;

    top:120px;

    height:fit-content;
}

.services-left h2{

    font-size:clamp(42px,5vw,70px);

    line-height:1.1;

    margin-bottom:30px;

    color:var(--light-color);
}

.services-text{

    color:rgba(255,255,255,0.7);

    line-height:1.9;

    margin-bottom:40px;

    max-width:500px;
}

/* RIGHT SIDE */

.services-right{

    display:flex;

    flex-direction:column;

    gap:25px;
}

/* CARD */

.service-card{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:40px;

    padding:45px;

    border:1px solid rgba(255,255,255,0.08);

    border-radius:30px;

    background:rgba(255,255,255,0.02);

    transition:0.45s ease;

    overflow:hidden;
}

.service-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        to right,
        rgba(255,255,255,0.04),
        transparent
    );

    opacity:0;

    transition:0.45s ease;
}

.service-card:hover::before{
    opacity:1;
}

.service-card:hover{

    transform:translateY(-5px);

    border-color:rgba(198,161,110,0.35);

    background:rgba(255,255,255,0.03);
}

/* NUMBER */

.service-number{

    font-size:70px;

    font-family:'Cormorant Garamond', serif;

    color:rgba(255,255,255,0.08);

    min-width:90px;
}

/* CONTENT */

.service-content{

    flex:1;
}

.service-content h3{

    font-size:36px;

    margin-bottom:12px;

    color:var(--light-color);
}

.service-content p{

    color:rgba(255,255,255,0.65);

    line-height:1.8;

    max-width:500px;
}

/* ARROW */

.service-arrow{

    width:60px;

    height:60px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    border:1px solid rgba(255,255,255,0.1);

    font-size:22px;

    transition:0.4s ease;
}

.service-card:hover .service-arrow{

    transform:translateX(5px);

    background:var(--primary-color);

    color:#111;
}

/* =========================================
   RESPONSIVE
========================================= */

@media(max-width:1100px){

    .services-section{

        grid-template-columns:1fr;

        gap:60px;
    }

    .services-left{

        position:relative;

        top:0;
    }
}

@media(max-width:768px){

    .services-section{

        padding:90px 25px;
    }

    .service-card{

        flex-direction:column;

        align-items:flex-start;

        padding:35px;
    }

    .service-content h3{

        font-size:28px;
    }

    .service-number{

        font-size:52px;
    }

    .service-arrow{

        width:50px;
        height:50px;
    }
}







/* =========================================
   PROJECTS
========================================= */

.projects-section{
    padding:140px 80px;
}

.section-heading{
    margin-bottom:80px;
}

.section-heading h2{

    font-size:clamp(40px, 5vw, 70px);

    max-width:900px;

    line-height:1.15;
}

/* GRID */

.project-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:40px;
}

/* CARD */

.project-card{

    position:relative;

    overflow:hidden;

    border-radius:28px;

    cursor:pointer;
}

.project-card img{

    width:100%;
    height:100%;

    object-fit:cover;

    transition:0.7s ease;
}

.project-card:hover img{
    transform:scale(1.05);
}

/* SIZES */

.large-card{
    height:850px;
}

.small-card{
    height:400px;
}

.text-card{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 50px;
}

/* OVERLAY */

.project-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.15)
    );
}

/* CONTENT */

.project-content{

    position:absolute;

    left:40px;
    bottom:40px;

    color:#fff;
}

.project-content p{

    letter-spacing:3px;

    font-size:12px;

    margin-bottom:10px;

    color:rgba(255,255,255,0.75);
}

.project-content h3{

    font-size:42px;

    max-width:350px;

    line-height:1.1;
}

/* INFO CARD */

.info-card{

    background:#F3EEE5;

    padding:60px;

    border-radius:28px;

    border:1px solid rgba(0,0,0,0.04);

    display:flex;

    flex-direction:column;

    justify-content:center;
}

.info-card h3{

    font-size:42px;

    margin-bottom:20px;

    line-height:1.1;
}

.info-card p{

    line-height:1.8;

    color:#555;
}

/* RESPONSIVE */

@media(max-width:1100px){

    .project-grid{
        grid-template-columns:1fr;
    }

    .large-card{
        height:650px;
    }
}

@media(max-width:768px){

    .projects-section{
        padding:90px 25px;
    }

    .project-content{

        left:25px;
        bottom:25px;
    }

    .project-content h3{
        font-size:30px;
    }

    .large-card{
        height:550px;
    }

    .small-card{
        height:320px;
    }

    .info-card{
        padding:40px 30px;
    }

    .info-card h3{
        font-size:30px;
    }
}

/* =========================================
   INSTAGRAM
========================================= */

.instagram-section{

    padding:140px 80px;

    background:#F5F1EA;
}

.instagram-section h2{

    font-size:clamp(40px, 5vw, 70px);

    margin-bottom:60px;
}




/* =========================================
   FOOTER
========================================= */

.footer{

    background:#0C0C0C;

    color:#fff;

    padding:120px 80px 50px;
}

/* TOP */

.footer-top{

    display:flex;

    justify-content:space-between;

    align-items:flex-end;

    gap:40px;

    margin-bottom:70px;
}

.footer-tag{

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    letter-spacing:5px;

    color:var(--primary-color);

    margin-bottom:20px;

    font-size:25px;
    /* display: flex; */

    
    gap: 20px;
}

.footer-text{
    padding-bottom: 5px;
}

.footer-tag img{
    width: 100px;
}


.footer-tag p:last-child{
    font-size: 13px;
    
    margin-top: 5px;
}

.footer-brand h2{

    font-size:clamp(50px,6vw,90px);

    line-height:1.05;

    font-weight:400;

    color:var(--light-color);
}

.footer-cta{

    text-decoration:none;

    color:var(--primary-color);

    font-size:22px;

    transition:0.4s ease;


}

.footer-cta:hover{
    transform:translateX(6px);
}

/* DIVIDER */

.footer-line{

    width:100%;

    height:1px;

    background:rgba(255,255,255,0.08);
}

/* MIDDLE */

.footer-middle{

    padding:70px 0;

    display:grid;

    grid-template-columns:1fr 1.2fr;

    gap:100px;
}

.footer-about p{

    max-width:420px;

    line-height:2;

    color:rgba(255,255,255,0.65);

    font-size:16px;
}

/* LINKS */

.footer-links{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:40px;
}

.footer-column h4{

    margin-bottom:30px;

    letter-spacing:3px;

    font-size:27px;

    color:#fff;
}

.footer-column a,
.footer-column p{

    display:block;

    margin-bottom:18px;

    text-decoration:none;

    color:rgba(255,255,255,0.65);

    transition:0.3s ease;
}

.footer-column a:hover{
    color:var(--primary-color);
}

.footer-column:nth-of-type(2){
    width: 300px;
}

/* BOTTOM */

.footer-bottom{

    padding-top:35px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:20px;
}

.footer-bottom p{

    color:rgba(255,255,255,0.45);

    font-size:14px;
}

/* =========================================
   RESPONSIVE
========================================= */

@media(max-width:1100px){

    .footer-middle{

        grid-template-columns:1fr;

        gap:60px;
    }

    .footer-tag img{
        align-items: normal;
    }
}

@media(max-width:768px){

    .footer{

        padding:90px 25px 40px;
    }

    .footer-top{

        flex-direction:column;

        align-items:flex-start;
    }

    .footer-links{

        grid-template-columns:1fr;

        gap:40px;
    }

    .footer-bottom{

        flex-direction:column;

        align-items:flex-start;
    }

    .footer-brand h2{

        font-size:48px;
    }
}


/* =========================================
   RESPONSIVE
========================================= */

@media(max-width:1100px){

    .about-section,
    .project-grid{
        grid-template-columns:1fr;
    }

    .logo-text{
        display: none;
    }

    .stats-section{
        grid-template-columns:repeat(3,1fr);
    }

    .stat-box h2{
        font-size:25px;
    }

    .stat-box h2::after{
        font-size:16px;
    }

    .stat-box-fixed h2{
        font-size:25px;
    }

    .stat-box-fixed1 h3{
        font-size:18px;
        padding-top: 10px;
    }

    .stat-box-fixed1 h2{
        font-size:18px;
    }

    .stat-box p,
    .stat-box-fixed p,
    .stat-box-fixed1 p{
        font-size:10px;
    }

    .hero-content{
        left:50px;
    }

    .about-section,
    .projects-section,
    .instagram-section,
    footer{
        padding:100px 50px;
    }
}

@media(max-width:768px){

    .navbar{
        height:65px;
        padding:0 10px;
    }

    .scroll-line{
        top:65px;
    }

    .logo{
        gap:6px;
    }

    .logo img{
        width:45px;
    }

    .logo-text{
        display:none;
    }

    nav{
        gap:8px;
    }

    nav a{
        font-size:10px;
        letter-spacing:0.5px;
    }

    .solid-btn,
    .glass-btn{
        padding:8px 12px;
        font-size:10px;
    }

    .hero-content{
        left:25px;
        right:25px;
    }

    .hero-subtitle{
        letter-spacing:4px;
        font-size:12px;
    }

    .hero-text{
        font-size:16px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:flex-start;
    }

    .swiper-button-next,
    .swiper-button-prev{
        width:45px !important;
        height:45px !important;
    }

    .swiper-button-next{
        right:20px !important;
    }

    .swiper-button-prev{
        right:75px !important;
    }

    .stats-section{
        grid-template-columns:repeat(3,1fr);
        padding:70px 25px;
    }

    .about-section,
    .projects-section,
    .instagram-section,
    footer{
        padding:90px 25px;
    }

    .about-right img{
        height:450px;
    }

    .project-content{
        left:25px;
        bottom:25px;
    }

    .project-content h3{
        font-size:30px;
    }

    .large-card{
        height:550px;
    }

    footer{
        flex-direction:column;
    }

    .footer-right{
        gap:50px;
    }
}

@media(max-width:480px){

    .solid-btn{
        width: 77px;
    }

    .hero-content h1{
        line-height:1.1;
    }

    .hero-text{
        line-height:1.6;
    }

    .stat-box-fixed1 ul li{
        font-size:13px;
    }

    .section-heading h2,
    .instagram-section h2,
    .about-left h2{
        line-height:1.3;
    }

    .footer-right{
        flex-direction:column;
    }
}

@media(max-width:391px){
    nav{
        display: none;
    }

     .stats-section{
        grid-template-columns:repeat(3,1fr);
    }

    .stat-box h2{
        font-size:20px;
    }

    .stat-box h2::after{
        font-size:16px;
    }

    .stat-box-fixed h2{
        font-size:20px;
    }

    .stat-box-fixed1 h3{
        font-size:10px;
        padding-top: 10px;
    }

    .stat-box-fixed1 h2{
        font-size:10px;
    }

    .stat-box p,
    .stat-box-fixed p,
    .stat-box-fixed1 p{
        font-size:7px;
    }
}